{% extends 'base.html.twig' %}
{% block title %}FAQ{% endblock %}
{% block body %}
    <h1>Frequently asked questions</h1>
    <div id="accordion">

        <div class="card mt-2">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse1">
                        <h4>Do I have to submit my application in English ?</h4>
                    </a>
                </div>
                <div id="collapse1" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        This is not a requirement. You can submit your application either in French or in English.
                    </div>
                </div>
        </div>

        <div class="card mt-2">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse2">
                        <h4>Is it a problem if one or both of my publications are in a different language than French or English ?</h4>
                    </a>
                </div>
                <div id="collapse2" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        A translation in English or French of the publications concerned will be required along with the original texts.
                    </div>
                </div>
        </div>

        <div class="card mt-2">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse3">
                        <h4>Am I eligible to apply, if I have not yet published any article nor my doctoral thesis?</h4>
                    </a>
                </div>
                <div id="collapse3" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        We need two publications indeed. In your case, we would require a copy of your thesis and if possible, a letter from the editor confirming the future publication of your article. You may also send us the article you are about to send for publication and immediately forward us its acceptance for publication by the editor. This would need to be done before the summer in order for us to take your application into consideration.
                    </div>
                </div>
        </div>

        <div class="card mt-2">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse4">
                        <h4>I am an artist and I do not hold a PhD degree. Am I eligible to apply and what can I submit, especially if I do not have two publications as requested?</h4>
                    </a>
                </div>
                <div id="collapse4" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        It is not a requirement for artists to hold a PhD degree. You can send us a CV, a document that describes the artistic project you intend to conduct during your residency at the IAS-Nantes (2 to 5 pages), and at least two portfolios, articles or links to a webpage where your previous and on-going works can be seen.
                    </div>
                </div>
        </div>

        <div class="card mt-2">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse5">
                        <h4>Do you provide a studio and equipment for artists?</h4>
                    </a>
                </div>
                <div id="collapse5" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        There is no studio in the IAS-Nantes building. We do have however a wider office furnished with a computer that has a high definition display and high performance processor. It is best to bring your own equipment. We may be able to occasionally lend visual equipment to residents, but its primary use is for various events organised by the Institute so we cannot guarantee its availability to residents.
                    </div>
                </div>
        </div>

        <div class="card mt-2">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse6">
                        <h4>Do you accept independent scholars?</h4>
                    </a>
                </div>
                <div id="collapse6" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Yes, independent scholars are eligible.
                    </div>
                </div>
        </div>

        <div class="card mt-2">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse7">
                        <h4>Is it necessary to belong to an Institution to apply and have a salary?</h4>
                    </a>
                </div>
                <div id="collapse7" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        No this is not a requirement but we do ask all applicants to look for financial support where possible.
                    </div>
                </div>
        </div>

        <div class="card mt-2">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse8">
                        <h4>Do you offer Fellowships during the summer ?</h4>
                    </a>
                </div>
                <div id="collapse8" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        No we don’t. Fellowships are granted for 3 to 9 months during the academic year, from October to June.
                    </div>
                </div>
        </div>

        <div class="card mt-2">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse9">
                        <h4>According to the instructions, the project proposal should be five pages. Should it be single or double spaced ?</h4>
                    </a>
                </div>
                <div id="collapse9" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        The length of the document is only indicative and you may use either single or double spaced. Your proposal needs to be clear and well presented.
                    </div>
                </div>
        </div>

        <div class="card mt-2">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse10">
                        <h4>How much will the stipend be ?</h4>
                    </a>
                </div>
                <div id="collapse10" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        There is no fixed stipend. As you may have read on our website, the financial conditions of a stay at IAS-Nantes are determined on a case-by-case basis to better take into consideration the particular situation of each individual, within the framework of an agreement.
                    </div>
                </div>
        </div>

        <div class="card mt-2">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse11">
                        <h4>How much will the stipend be ?</h4>
                    </a>
                </div>
                <div id="collapse11" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        There is no fixed stipend. As you may have read on our website, the financial conditions of a stay at IAS-Nantes are determined on a case-by-case basis to better take into consideration the particular situation of each individual, within the framework of an agreement.
                    </div>
                </div>
        </div>

        <div class="card mt-2">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse12">
                        <h4>Do you have calls for thematic grant programmes? If so what are the themes?</h4>
                    </a>
                </div>
                <div id="collapse12" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        The IAS-Nantes does not exclude any discipline (from social sciences and humanities to theoretical physics, biology, medicine, etc.) but encourages works enlightening the institutional underpinnings of our societies and their evolutions (especially in the relation to territory, body, work, economy, etc...). Furthermore, the IAS-Nantes welcomes also research projects that will help to put in perspective not only possible future developments in industry, but also the future worlds that industry is creating and making possible (Industrialisation and Health of the Future Chair).
                    </div>
                </div>
        </div>

        <div class="card mt-2">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapse13">
                        <h4>When will I know if my application has been accepted or not ?</h4>
                    </a>
                </div>
                <div id="collapse13" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        All applications will be assessed by experts from about May to October. The Advisory Board will meet towards mid-November and all applicants will be informed of the results in December.
                    </div>
                </div>
        </div>

    </div> 
    <div class="alert alert-dismissible alert-info mt-2">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        In case you didn't find anwser to you question, use <strong><a href="{{ path('contact') }}">contact form to ask</a></strong>. Our team will be back to you on that. 
    </div>
{% endblock %}