{% extends 'base.html.twig' %}
{% block title %}How to apply{% endblock %}
{% block body %}
    <h1>How to apply?</h1>
<p>Every academic year, the Nantes Institute for Advanced Study, a state-approved public benefit foundation, invites about thirty Fellows selected for the quality and originality of their work. It offers 9-month-research stays (with some short stay exceptions), from October to June, during which research Fellows can pursue a project of their choice, freed from their administrative or teaching obligation. Fellows are asked to reside in Nantes during their fellowship, to take part into the weekly seminars in which each of them is expected to present the state of their works, and to participate to the three weekly meals giving them opportunities for fruitful conversations.</p>
<p>The IAS-Nantes provides its Fellows with high quality personalized assistance (logistic and scientific). Its library hosts the personal collection of books, journals and archives of Emile Poulat, one of the founding French sociologist and historian of religion. The Library also works in collaboration with all local and national university libraries, as well as other libraries abroad. The IAS-Nantes is located near the historical part of the city, and the Diplomatic Archives Centre. Accommodation and offices are located at the same site, on the banks of the Loire River; contributing to a unique experience in exceptional surroundings. For additional information about the Nantes-IAS: <a href="http://www.iea-nantes.fr/en/">http://www.iea-nantes.fr/en/</a></p>
<h2>1 - Submit a login request</h2>
<ul>
    <li>By going on <a href="{{path('security_registration')}}">Sign up page</a> you will be asked some information about you and the reason why you need an account ;</li>
</ul>
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0">If the reason doesn't seems legitimate, we can reject the login request. Don't hesitate to be precise about it.</p>
</div>
<ul>
    <li>If your request is accepted, you will receive an email to tell you so. This can take up to 72 hours. Since then, you will be able to connect on the <a href="{{path('security_login')}}">login page</a> with information you provided ;</li>
</ul>
<h2>2 - Initiate an application</h2>
<ul>
    <li>On the <a href="{{path('homepage')}}">homepage</a>, you can see all ongoing calls ; </li>
    <li>By clicking on "Apply" button you initiate an application for the given call ;</li>
    <li>You need to submit this first form to save information ;</li>
    
</ul>
<div class="alert alert-dismissible alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Information</h4>
    <p class="mb-0">From this point, you are able to modify your application until you submit it or the call is closed. </p>
    <img class="mt-1 img-shadow" src="{{asset('/img/browsing_tabs.gif')}}" alt="browsing tabs"/>

</div>
<h2>3 - Complete your application</h2>
<ul>
    <li>Before submitting your application, make sure to fill information correctly ;</li>
    <li>Then, on the review page, you can finally submit your application. Note that if some required information are not filled, a message will tell you so ;</li>
    <li>An email is sent to you to confirm the submission ;</li>
</ul>
{% endblock %}