{% extends 'base.html.twig' %}
{% block title %}Legal notices{% endblock %}
{% block body %}
<h1>Mentions légales</h1>
Page mises à jour le : 02 février 2019,
<h2>Informations légales</h2>
<p><strong>Site :</strong> application.iea-nantes.fr</p>
<h4>Éditeur : </h4>
Institut d’études avancées de Nantes,
Fondation reconnue d’utilité publique (décret du 4 avril 2008, J.O. du 6 avril 2008)
dont le siège social est situé 5, allée Jacques Berque à Nantes (44000)</p>
<p><strong>numéro SIREN :</strong> 509 115 945 </p>
représenté par Françoise Rubellin, Directrice
<p><strong>Numéro de téléphone : </strong>02.53.00.93.00</p>
<p><strong>Adresse de courrier électronique : </strong> informatique [at] iea-nantes.fr</p>
<p><strong>Conception et réalisation :</strong> Institut d’études avancées de Nantes</p>
<h4>Hébergeur :</h4>
<a href="">OVH</a>, SAS au capital de 10 069 020 €
<p><strong>Siège social :</strong> 2 rue Kellermann - 59100 Roubaix - France </p>
RCS Lille Métropole 424 761 419 00045

{#
    <h2>Condition d'utilisation</h2>
    <h3>Article 1 - Accès au site</h3>
    <p>L'accès au site et son utilisation sont réservés à un usage strictement personnel. Vous vous engagez à ne pas utiliser ce site et les informations ou données qui y figurent à des fins commerciales, politiques, publicitaires et pour toute forme de sollicitation commerciale et notamment l'envoi de courriers électroniques non sollicités.</p>
    <h3>Article 2 - Contenu du site</h3>
    <p>Toutes les marques, photographies, textes, commentaires, illustrations, images animées ou non, séquences vidéo, sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire fonctionner ce site et plus généralement tous les éléments reproduits ou utilisés sur le site sont protégés par les lois en vigueur au titre de la propriété intellectuelle.
    Ils sont la propriété pleine et entière de l'éditeur ou de ses partenaires. Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans l'accord préalable et écrit de l'éditeur, sont strictement interdites. Le fait pour l'éditeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation desdites utilisations et renonciation aux poursuites.</p>
    <h3>Article 3 - Gestion du site</h3>
    <p>Pour la bonne gestion du site, l'éditeur pourra à tout moment :<p>
    <ul>
        <li> suspendre, interrompre ou de limiter l'accès à tout ou partie du site, réserver l'accès au site, ou à certaines parties du site, à une catégorie déterminée d'internaute ;</li>
        <li> supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales, ou avec les règles de la Nétiquette ;</li>
        <li> suspendre le site afin de procéder à des mises à jour.</li>
    </ul>

    <h3>Article 4 - Responsabilités</h3>
    <p>La responsabilité de l'éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement, empêchant l'accès au site ou à une de ses fonctionnalités.
    Le matériel de connexion au site que vous utilisez est sous votre entière responsabilité. Vous devez prendre toutes les mesures appropriées pour protéger votre matériel et vos propres données notamment d'attaques virales par Internet. Vous êtes par ailleurs le seul responsable des sites et données que vous consultez.
    L'éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à votre encontre :</p>
    <ul>
    <li> du fait de l'usage du site ou de tout service accessible via Internet ;</li>
    <li> du fait du non-respect par vous des présentes conditions générales.</li>
    <p>L'éditeur n'est pas responsable des dommages causés à vous-même, à des tiers et/ou à votre équipement du fait de votre connexion ou de votre utilisation du site et vous renoncez à toute action contre lui de ce fait.</p>
    <p>Si l'éditeur venait à faire l'objet d'une procédure amiable ou judiciaire à raison de votre utilisation du site, il pourra retourner contre vous pour obtenir indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure.</p>
#}
{% endblock %}