{# empty Twig template #}
{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block stylesheets %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block body %}
    <h1>Contact</h1>
    {{form_start(form)}}
    <div class="row">
        <div class="col">
            {{form_row(form.firstname, {
                'label':'Firstname',
                'attr':{
                    'placeholder':'Your firstname',
                    'required':'true'
                }
            })}}
        </div>
        <div class="col">
            {{form_row(form.lastname, {
                'label':'Lastname',
                'attr':{
                    'placeholder':'Your lastname'
                }
            })}}
        </div>
    </div>
    {{form_row(form.email, {
        'label':'Email',
        'attr':{
            'placeholder':'example@domaine.com'
        }
    })}}
    <div class="card">
       <div class="card-header">
            <h4>Your demand.</h4>
        </div>
        <div class="grpd card-body">
		    {{form_widget(form.information
		    )}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 g-recaptcha mt-3" data-callback="enableBtn" data-sitekey="6LegDX0UAAAAAE8Ecb04bSzEaceSeoJ_92U6W082"></div> 
    </div>
    <button class="col-md-3 btn btn-success mt-3" style="height: 78px;" id="sendButton" type="submit" disabled="true"><i class="fas fa-check"></i> Send </button>

    {{form_end(form)}}
{% endblock %}

{% block javascripts %}
    <script>
        function enableBtn(){
            document.getElementById("sendButton").disabled = false;
    }
    </script>
{% endblock %}
