{% extends 'base.html.twig' %}
{% block title %}Forgotten password{% endblock %}
{% block body %}
    <h1>Reset password</h1>

    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="submit" value="" class="btn btn-success">Send</button>
    {{form_end(form)}}
{% endblock %}