{# empty Twig template #}
{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}

{% block body %}

    <h1>Login</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {# The following line doesnt work while the next one does. Visibly no difference :
    <form action="{{ path('security_login') }}" method="post">  #}
    <form action="{{ path('security_login') }}" method="post">
        <p>Enter your email:</p>
        <div class="form-group">
            <input placeholder="Email" required="true" name="_username" type="text" class="form-control" value="{{ last_username }}"> 
        </div>
        <p>Enter your password:</p>
        <div class="form-group">
            <input placeholder="Password" required="true" name="_password" type="password" class="form-control"> 
        </div>
        <br>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="remember_me" name="_remember_me" />
                <label class="custom-control-label" for="remember_me">Keep me logged in</label>
            </div>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Log in</button>
        </div>
        <br>
        
        <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >
    </form>
    <a href="{{ path('forgotten_passord') }}" >Forgot password?</a><br/>
    <br>
    <a href="{{ path('security_registration') }}">Need an account?</a>
    <br>
{% endblock %}