{# empty Twig template #}
{% extends 'base.html.twig' %}
{% block title %}Registration{% endblock %}
{% block stylesheets %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block body %}
    <h1>Registration</h1>
    {{form_start(form)}}
    <div class="row">
        <div class="col">
            {{form_row(form.firstname, {
                'label':'Firstname',
                'attr':{
                    'placeholder':'Your firstname',
                    'required':'true'
                }
            })}}
            <br>
        </div>
        <div class="col">
            {{form_row(form.lastname, {
                'label':'Lastname',
                'attr':{
                    'placeholder':'Your lastname'
                }
            })}}
            <br>
        </div>
    </div>
    {{form_row(form.email, {
        'label':'Email',
        'attr':{
            'placeholder':'example@domaine.com'
        }
    })}}
    <br>
    {{form_row(form.password, {
        'label':'Password',
        'attr':{
            'placeholder':'Type a password'
        }
    })}}
    <br>
    {{form_row(form.confirmPassword, {
        'label':'Confirm password',
        'attr':{
            'placeholder':'Confirm the password'
        }
    })}}
    <br>
    {{form_row(form.createdAt, {
        'label':'Created at',
    })}}
    <br>
    {{form_row(form.grpdConsentAt, {
        'label':'Grpd consent at',
    })}}
    <br>
    {{form_row(form.status, {
        'label':'Status',
    })}}
    <br>
    {{form_row(form.processedAt, {
        'label':'Processed at',
    })}}
    <div class="card">
       <div class="card-header">
            <h4>Please, explain the reason why you need an account. </h4>
        </div>
        <div class="grpd card-body">
		    {{form_widget(form.project
		    )}}
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>GRPD</h4>
        </div>
        <div class="grpd card-body">
            <p>I hereby accept that the data collected by the Institute from this form and enclosed documents be subject to data processing for the IAS-Nantes management, communication and administrative services. They are collected and processed in order to allow the evaluation of applications, the compilation of statistics and, for successful candidates, the determination and formalization of fellowship conditions and the Institute’s communication. The data can be transmitted to administrative and institutional partners of the IAS-Nantes, to the IAS-Nantes members of the Academic Advisory Board, to experts who evaluate the applications and to the Board of trustees. These data can be kept for an indefinite period. The authorization currently given is valid during the Fellowship period and after.</p>
            <p><strong>The acceptance of data collection and processing in the above conditions is compulsory to allow you to participate in the call for applications. </strong></p>
            <p>In accordance with the French Act of 6 January 1978, as amended in 2004, and with the General Data Protection Regulation, you can exercise your rights of access, rectification and opposition by contacting: Nantes Institute for Advanced Study, 5 allée Jacques Berque, 44000 Nantes, France, <a href="mailto:rgpd@iea-nantes.fr">rgpd@iea-nantes.fr</a></p>
            <div class="custom-control custom-checkbox">
                {{form_row(form.grpdConsentAt, {
                    'label_attr':{
                        'class':'custom-control-label',
                    },
                    'attr':{
                        'type':'checkbox',
                        'class':'custom-control-input'
                    }
                })}}
            </div>

        </div>
    </div>
    {#<div class="row">
        <div class="col-md-3 g-recaptcha mt-3" data-callback="enableBtn" data-sitekey="6LegDX0UAAAAAE8Ecb04bSzEaceSeoJ_92U6W082"></div> 
    </div>
    <button class="col-md-3 btn btn-success mt-3" style="height: 78px;" id="sendButton" type="submit" disabled="true"><i class="fas fa-check"></i> Send </button>#}
    <button type="submit" class="btn btn-success">Register</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {{form_end(form)}}

{% endblock %}

{% block javascripts %}
    <script>
        function enableBtn(){
            document.getElementById("sendButton").disabled = false;
    }
    </script>
{% endblock %}
