{% extends 'base.html.twig' %}
{% block title %}Update password{% endblock %}

{% block body %}
    <h1>Update your password</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
    {{ form_end(form) }}
{% endblock %}