{% extends 'base.html.twig' %}

{% block title %}CandidateList{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
    <h1>Applications list</h1>
    {% else %}
    <h1>Your applications</h1>
	{% endif %}    

    <table class="table">
    	<thead>
    		<th>ProjectTitle</th>
    	    <th>Lastname</th>
    	    <th>Firstname</th>
    	    <th>Email</th>
            <th></th>
    	</thead>

        <tbody>
        	{% for person in persons%}
        	<tr>
                <th>{{person.title}}</th>
                <th>{{person.lastname}}</th>
                <th>{{person.firstname}}</th>     
                <th>{{person.email}}</th> 
                <th>
            		<a href="{{path('application_show',{'id': person.id})}}" class="btn btn-primary">En savoir plus </a>
            	</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
