{% extends 'base.html.twig' %}

{% block title %}Detail{% endblock %}

{% block body %}

   <table class="table">
   	<thead>
   		<div>
   		<a href="{{ path('candidate_list') }}"> < Back to list </a>
   		</div>
   		<h2>Application no. {{application.id}} </h2>
   		<div>
   		<a href="{{ path('apply_1_project', {'id': application.id}) }}" class="btn btn-success"> edit</a></div>
   		<tr>
    	<th>Application created at </th>
    	<th></th>
    	<th>{{application.createdAt|date('Y-m-d')}}</th>
    
    	<th>last Update at </th>
    	<th></th>
    	<th>{{application.lastUpdateAt|date('Y-m-d')}} </th>
    </tr>
     <tr>
    	<th>Application was submitted at </th>
    	<th></th>
    	<th>{{application.submittedAt|date('Y-m-d')}} </th>
    </tr>
   	</thead>
    
   	<tbody>
    <tr>
    	<th>Candidate</th> 
    	<th></th>
    	<th>{{person.lastname}}</th>
    	<th>{{person.firstname}}</th>
	</tr>
	 <tr>
    	<th>Biography </th>
    	<th></th>
    	<th>{{application.biography}} </th>
    </tr>

    <tr>
    	<th>Current employer </th>
    	<th></th>
    	<th>{{application.currentEmployer}}</th>
    </tr>

    <tr>
    	<th>Position title</th>
    	<th></th>
    	<th>{{application.positionTitle}}</th>
       	<th>Since</th>
    	<th></th>
    	<th>{{application.positionSince|date('Y-m-d')}}</th>
    </tr>

    <tr>
    	<th>Previous positions</th>
    	<th></th>
    	<th>{{application.previousPositions}}</th>
    </tr>

    <tr>
    	<th>IAS Knowledge</th>
    	<th></th>
    	<th>{{application.iasKnowledge}}</th>
    </tr>

    <tr>
    	<th>Previous IAS Member </th>
    	<th></th>
    	<th>{{application.previousIasMember}}</th>
    </tr>

    <tr>
    	<th>Major Publications </th>
    	<th></th>
    	<th>{{application.majorPuplications}}</th>
    </tr>

    <tr>
    	<th>Motivations </th>
    	<th></th>
    	<th>{{application.motivations}}</th>
    </tr>

    <tr>
    	<th>Ongoing Application </th>
    	<th></th>
    	<th>{{application.ongoingApplication}}</th>
    </tr>

    <tr>
    	<th>Benefits </th>
    	<th></th>
    	<th>{{application.benefits}} </th>
    </tr>

   

    <tr>
    	<th>Sabbatical </th>
    	<th></th>
    	<th>{{application.sabbatical}}</th>
    </tr>

    <tr>
    	<th>Financial Support </th>
    	<th></th>
    	<th>{{application.financialSupport}}</th>
    </tr>

    <tr>
    	<th>Usual Salary </th>
    	<th></th>
    	<th>{{application.usualSalary}} </th>
    </tr>

    <tr>
    	<th>Accompanying </th>
    	<th></th>
    	<th>{{application.accompanying}}</th>
    </tr>

    <tr>
    	{% if application.resideInNantes %}
    	<th>Reside In Nantes </th>
    	<th></th>
    	{% endif %}
    </tr>

    

{# JOINTURES #}
   {# <tr>evaluations {{application.evaluations}}</tr> #}

   {# <tr>call {{application.call}}</tr> #}
 {# JOINTURES #}

   

    <tr>
    	<th>Final Decision </th>
    	<th></th>
    	<th>{{application.finalDecision}} </th>
    </tr>

    <tr>
    	<th>Choice1 Number of Months </th>
    	<th></th>
    	<th>{{application.Choice1NumberMonths}} </th>
    </tr>

    <tr>
    	<th>Choice1 Start Month </th>
    	<th></th>
    	<th>{{application.Choice1StartMonth}}</th>
    </tr>

    <tr>
    	<th>Choice2 Number Months </th>
    	<th></th>
    	<th>{{application.Choice2NumberMonths}} </th>
    </tr>

    <tr>
    	<th>Choice2 Start Month </th>
    	<th></th>
    	<th> {{application.Choice2StartMonth}} </th>
    </tr>

    <tr>
    	<th>Curriculum Vitae </th>
    	<th></th>
    	<th>{{application.fileCurriculumVitae}} </th>
    </tr>

    <tr>
    	<th>Application File </th>
    	<th></th>
    	<th>{{application.fileApplicationForm}} </th>
    </tr>
    <tr>
    	<th> </th>
    	<th> </th>
    </tr>
   


    </tbody>

</table> 
    
{% endblock %}