<div class="alert alert-info mt-3">
    <h4 class="alert-heading">Information!</h4>
    <p class="mb-0">Your application can be submitted on the bottom of 
    {% if 'review' in route %}
        this page.</p>
    {% else %}
        the <a href="{{path('application_review', {'id': application.id})}}">Review Section.</a></p> 
    {% endif %}
</div>

