
    <div class="row" style="border-bottom:0;">
        
        <div class="col-md-2 btn-nav mb-1">
            <a href="{{path('apply_1_project', {'id':application.id})}}" class="btn {% if title == 'Project' %}btn-success{% else %}btn-primary{% endif %}">
                <div class="text-center">
                    <i class="fas fa-scroll"></i>
                </div>    
                <div class="text-center">Project</div>
            </a>
        </div>
        
        <div class="col-md-2 btn-nav mb-1">
            <a href="{{path('apply_2_personal_information', {'id':application.id})}}" class="btn {% if title == 'Personal information' %}btn-success{% else %}btn-primary{% endif %}">
                <div class="text-center">
                    <i class="fas fa-user"></i>
                </div>
                <div class="text-center">Personal infos</div>
            </a>
        </div>
        
        <div class="col-md-2 btn-nav mb-1">
            <a href="{{path('apply_3_motivations', {'id':application.id})}}" class="btn {% if title == 'Motivations' %}btn-success{% else %}btn-primary{% endif %}">
                <div class="text-center">
                    <i class="fas fa-star"></i>
                </div>
                <div class="text-center">Motivations</div>
            </a>
        </div>
        
        <div class="col-md-2 btn-nav mb-1">
            <a href="{{path('apply_4_administrative', {'id':application.id})}}" class="btn {% if title == 'Administrative information' %}btn-success{% else %}btn-primary{% endif %}">
                <div class="text-center">
                    <i class="fas fa-file-alt"></i>
                    </div>
                <div class="text-center">Administrative</div>
            </a>
        </div>

        <div class="col-md-2 btn-nav mb-1">
            <a href="{{path('apply_5_attachements', {'id':application.id})}}" class="btn {% if title == 'Attachements' %}btn-success{% else %}btn-primary{% endif %}">
                <div class="text-center">
                    <i class="fas fa-paperclip"></i>
                    </div>
                <div class="text-center">Attachements</div>
            </a>
        </div>

        <div class="col-md-2 btn-nav mb-1">
            <a href="{{path('application_review', {'id':application.id})}}" class="btn {% if title == 'Review' %}btn-success{% else %}btn-primary{% endif %}">
                <div class="text-center">
                    <i class="fas fa-glasses"></i>
                </div>
                <div class="text-center">Review</div>
            </a>
        </div>
    </div>
