{% extends 'base.html.twig' %}

{% block title %}Submission{% endblock %}

{% block body %}
    <h1>Submission to {{call.labelEn}}</h1>
    <h2>Call details</h2>
    {{ call.descriptionEn }}
    <div class="alert alert-dismissible alert-info">
        <h4 class="alert-heading">Information!</h4>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>You are about to initiate an application for the given call. Please make sure all information you provide are correct. </p>
        <p>You can also refer to <a href="{{path('how_to_apply')}}">this guide</a>. </p>
    </div>
    <h2>Your project</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Initiate apply</button>
    {{ form_end(form) }}

{% endblock %}