{% extends 'base.html.twig' %}

{% block title %}Apply{% endblock %}

{% block body %}
    <h1>Applying to {{application.call.labelEn}}</h1>
    <h2>{{title}}</h2>
    {% include 'application_form/_progressBar.html.twig' %}
    <div id="applicationForm">
        {% include 'application_form/_message.html.twig' %}

		<div class="alert alert-info mt-3">
			<h4 class="alert-heading">Information!</h4>
			<p class="mb-0">Files will be uploaded when you save with the button bellow this page.</p> 
		</div>

        {{ form_start(form) }}
        {% for attachement in attachements %}
        {# twig attribute function used for dynamically render variable into other variables
            following code is equivalent to {{form_row(form.{{attachement['formField']}})}}
        #}
        <div class="card">
        	<div class="card-body">
            {{form_row(attribute(form, attachement.formfield))}}
			{% if attachement.comment is defined %}
			    <div>{{ attachement.comment }}</div>
			{% endif %}
            {% if attachement['filename'] is not null %}
                {% if attachement['type'] is same as ('Project') %}
                    <a href="{{ path('download_Project', {'id':application.project.id, 'filename':attachement['filename']})}}">
                        <span class="badge badge-success">Uploaded</span>
                    
                {% else %}
                    <a href="{{ path('download_ApplicationForm', {'id':application.id, 'filename':attachement['filename']})}}">
                        <span class="badge badge-success">Uploaded</span>
                    
                {% endif %}
                {{ attachement['filename'] }}</a>
            {% else %}
                <span class="badge badge-warning">Not yet uploaded</span>
            {% endif %}
            </div>
        </div>
        {% endfor %}
        <hr>
        <a href="{{path(previous_route,{'id':application.id})}}" class="btn btn-primary">❮ previous</a>
        <button type="submit" class="ml-3 btn btn-success">Save and continue ❯</button>
        {{ form_end(form) }}
    </div>
{% endblock %}