{% extends 'base.html.twig' %}

{% block title %}Submission{% endblock %}

{% block body %}
    <h1>Submission to {{call.labelEn}}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Initiate apply</button>
    {{ form_end(form) }}

{% endblock %}