{% extends 'base.html.twig' %}

{% block title %}Submission{% endblock %}

{% block body %}
    <h1>Submission to {{application.call.labelEn}}</h1>
    <h2>{{title}}</h2>
    {% include 'application_form/_progressBar.html.twig' %}
    <div id="applicationForm">
        {% include 'application_form/_message.html.twig' %}
		
        {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <hr>
        <a href="{{path(previous_route,{'id':application.id})}}" class="btn btn-primary">❮ previous</a>
        <button type="submit" class="ml-3 btn btn-success">Save and continue ❯</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function restrictMonth(e){
            if(e.id == 'administrative_choice1StartMonth'){
                target = document.getElementById("administrative_choice1NumberMonths");
            }
            if(e.id == 'administrative_choice2StartMonth'){
                target = document.getElementById("administrative_choice2NumberMonths");
            }
            switch(e.value) {
                case "10":
                    if(target.value==""){
                        target.value=9;
                    }
                    target.options[1].disabled=false;
                    target.options[2].disabled=false;
                    target.options[2].text="6";
                    target.options[3].disabled=false;
                    target.options[3].text="9";
                    break;
                case "1":
                    if(target.value!=3){
                        target.value=6;
                    }
                    target.options[1].disabled=false;
                    target.options[2].disabled=false;
                    target.options[2].text="6";
                    target.options[3].disabled=true;
                    target.options[3].text="9 (unavailable)";
                    break;
                case "4":
                    
                    target.value=3;
                    
                    target.options[1].disabled=false;
                    target.options[2].disabled=true;
                    target.options[2].text="6 (unavailable)";
                    target.options[3].disabled=true;
                    target.options[3].text="9 (unavailable)";
                    break;
                default:
                    // code block
            } 
            
        }
    </script>
{% endblock %}