{% extends 'base.html.twig' %}

{% block title %}My applications{% endblock %}

{% block body %}
    <h1>My applications</h1>
    <div class="row">
    {% for project in person.projects %}
        {% for application in project.applicationForms %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="card-title">Application for "{{ application.call.labelEn }}"</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="card-text">test</p>
                        </div>
                        <div class="col-6">
                            <div class="btn-group float-right" role="group">
                                <a class="btn btn-primary" href="{{ path('application_review',{'id': application.id})}}" class="btn btn-success">See my application form</a>
                                {% if application.fileApplicationForm is not null and application.submittedAt is not null %}
                                    <a class="btn btn-outline-primary" href="{{ path('download_ApplicationForm', {'id': application.id , 'filename':application.getFileApplicationForm}) }}" data-toggle="tooltip" title="Download application file"><i class="fas fa-file-pdf"></i></a>
                                {% else %}
                                    <a class="btn btn-outline-primary disabled" href="" data-toggle="tooltip" title="Cannot download file if application is not submitted"><i class="fas fa-file-pdf"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    {% if application.submittedAt is not null %}
                        <span class="badge badge-pill badge-success">Submitted : {{ application.submittedAt|date('d F Y') }}</span>
                    {% else %}
                        <span class="badge badge-pill badge-warning">Not yet submitted ({{ date(application.call.closingDate).diff(date())|date("%d") }} days left)</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>

{% endblock %}