{% extends 'base.html.twig' %}

{% block title %}Submission{% endblock %}

{% block body %}
    <div id="applicationForm">
    <h1>Submission to {{application.call.labelEn}}</h1>
    <h2>{{title}}</h2>
    
    {% if application.call.isOpen and application.submittedAt is null or is_granted('ROLE_ADMIN') and application.submittedAt is null %}
        {% include 'application_form/_progressBar.html.twig' %}
        {% if (errorList is defined) and (errorList is not empty) %} 
            <div class="alert alert-danger mt-3">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p>Can't submit application because:
                <ul>
                    {% for error in errorList %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                </p>
            </div>
        {% endif %}
		{% include 'application_form/_message.html.twig' %}
        
    {% endif %}
    <div id="applicationForm">
        <div class="card mt-3">
            <div class="card-header" data-toggle="collapse" href="#collapseProject" aria-expanded="false" aria-controls="collapseProject">
                <h3>Project</h3>
            </div>
            <div class="card-body collapse show" id="collapseProject">
                {{ form_start(formProject) }}
                {{ form_widget(formProject) }}
                {{ form_end(formProject) }}
                {% if application.call.isOpen and application.submittedAt is null %}
                    <a class="btn btn-primary" href="{{ path('apply_1_project', {'id':application.id}) }}">Go back to Project form</a>
                {% endif %}
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header" data-toggle="collapse" href="#collapsePersonal" aria-expanded="false" aria-controls="collapseProject">
                <h3>Personal Informations</h3>
            </div>
            <div class="card-body collapse show" id="collapsePersonal">
                {{ form_start(formPers) }}
                {{ form_widget(formPers) }}
                {{ form_end(formPers) }}
                {% if application.call.isOpen and application.submittedAt is null %}
                    <a class="btn btn-primary" href="{{ path('apply_2_personal_information', {'id':application.id}) }}">Go back to Personal information form</a>
                {% endif %}
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header" data-toggle="collapse" href="#collapseMotiv" aria-expanded="false" aria-controls="collapseProject">
                <h3>Motivations</h3>
            </div>
            <div class="card-body collapse show" id="collapseMotiv">
                {{ form_start(formMotiv) }}
                {{ form_widget(formMotiv) }}
                {{ form_end(formMotiv) }}
                {% if application.call.isOpen and application.submittedAt is null %} 
                    <a class="btn btn-primary" href="{{ path('apply_3_motivations', {'id':application.id}) }}">Go back to Motivations form</a>
                {% endif %}
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header" data-toggle="collapse" href="#collapseAdmin" aria-expanded="false" aria-controls="collapseProject">
                <h3>Administrative</h3>
            </div>
            <div class="card-body collapse show" id="collapseAdmin">
                {{ form_start(formAdmin) }}
                {{ form_widget(formAdmin) }}
                {{ form_end(formAdmin) }}
                {% if application.call.isOpen and application.submittedAt is null %}
                    <a class="btn btn-primary" href="{{ path('apply_4_administrative', {'id':application.id}) }}">Go back to Administrative form</a>
                {% endif %}
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header" data-toggle="collapse" href="#collapseAttachement" aria-expanded="false" aria-controls="collapseProject">
                <h3>Attachements</h3>
            </div>
            <div class="card-body collapse show" id="collapseAttachement">
                <table>
                    <tr>
                        <td>
                            Curriculum vitae → 
                        </td>
                        <td>
                            {{ application.fileCurriculumVitae ? '<span class="badge badge-success">Uploaded</span>': '<span class="badge badge-warning">Not uploaded</span>'}}
                        </td>
                    </tr>  
                    <tr>
                        <td>
                            Project → 
                        </td>
                        <td>
                            {{ application.project.fileProject ? '<span class="badge badge-success">Uploaded</span>': '<span class="badge badge-warning">Not uploaded</span>'}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Publication 1 → 
                        </td>
                        <td>
                            {{ application.project.filePublication1 ? '<span class="badge badge-success">Uploaded</span>': '<span class="badge badge-warning">Not uploaded</span>'}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Publication 2 → 
                        </td>
                        <td>
                            {{ application.project.filePublication2 ? '<span class="badge badge-success">Uploaded</span>': '<span class="badge badge-warning">Not uploaded</span>'}}
                        </td>
                    </tr>
                </table>
                {% if application.call.isOpen and application.submittedAt is null %}
                    <a class="btn btn-primary" href="{{ path('apply_5_attachements', {'id':application.id}) }}">Go back to Attachements form</a>
                {% endif %}
            </div>
        </div>
        <div class="alert alert-danger mt-3">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Warning!</h4>
            <p class="mb-0">This is the final step before submitting your application. Make sure you filled all correcly.</p>
            <p><strong>You cannot modify your application after submitted or if call is closed. </strong></p>
            
        </div>
        
        
        
        {% if application.call.isOpen and application.submittedAt is null %} 
            {{ form_start(formSubmit) }}
            {{ form_widget(formSubmit) }}
            {{ form_end(formSubmit) }}
            
        {% endif %}
    </div>
    </div>

{% endblock %}