{% extends 'base.html.twig' %}

{% block title %}Apply{% endblock %}

{% block body %}
<<<<<<< HEAD
    <h1>See my application form</h1>
    Call : {{application.call.labelEn}}
    <h3>Research project</h3>
    <div class="form-group row">
        <div class="col-md-2">Title : </div>
        <input type="text" class="form-control col-md-10" disabled value="{{application.project.title}}"/>
    </div>
    <div class="form-group row">
        <div class="col-md-2">Summary : </div>
        <textarea class="form-control col-md-10" disabled>{{application.project.summary}}</textarea>
    </div>
    <div class="form-group row">
        <div class="col-md-2">Main subjects : </div><textarea class="form-control col-md-10" disabled>{{application.project.mainSubjects}}
        </textarea>
    </div>

=======
    
    <h1>Application no. {{application.id}}</h1>

    <h1>Candidate {{person.lastname}}</h1>

    
>>>>>>> dev
{% endblock %}