{% extends 'base.html.twig' %}

{% block title %}Sign-In list{% endblock %}

{% block body %}
    <h1>Sign-In list</h1>

    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Asked</th>
                <th>Email</th>
                <th>Project</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
           
        	{% if (person.status != null) %}<tr>{% else %}<tr style="background-color:#E0E0FF;">{% endif %}
                <td>{{ person.id }}</td>
                <td>{{ person.lastname }}</td>
                <td>{{ person.firstname }}</td>
                <td>
                    {# highlight when an askLogin is more than 48h old#}
                    <span class="badge 
                    {% if (date(person.createdAt) < date('-48hours')) and (person.status == 0) %}
                        badge-danger
                    {% endif %}
                    ">
                        {{ date().diff(person.createdAt)|date("%d days %Hh %imin ago") }}
                    </span>
                </td>
                <td><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>          
                <td>{{ person.project }}</td>
                <td>
                    {% if person.status == null %} 
                        <span class="badge badge-warning">Pending</span>
                    {% elseif person.status == 2 %} 
                        <span class="badge badge-success">Accepted</span>
                    {% elseif person.status == 3 %} 
                        <span class="badge badge-danger">Refused</span>
                    {% endif %}
                </td>
                <td>
                <div class="btn-group" role="group" aria-label="actions">
                	{% if person.status != 2 %}<a class="btn btn-success" href="{{ path('asklogin_accept', {'id': person.id}) }}">accept</a>{% else %}<span class="btn btn-outline-success disabled pressed">accept</span>{% endif %}
                    {% if person.status != 3 %}<a class="btn btn-danger" href="{{ path('asklogin_refuse', {'id': person.id}) }}">refuse</a>{% else %}<span class="btn btn-outline-danger disabled pressed">refuse</span>{% endif %}
                </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
