{% extends 'base.html.twig' %}

{% block title %}New AskLogin{% endblock %}

{% block body %}
    <h1>Create new Sign-In</h1>

    {{ include('asklogin/_form.html.twig') }}

    <a href="{{ path('asklogin_index') }}">back to list</a>
{% endblock %}
