{% extends 'base.html.twig' %}

{% block title %}Field index{% endblock %}

{% block body %}
    <h1>{{ 'Field list'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Description</th>
                <th>LabelEn</th>
                <th>DescriptionEn</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for field in fields %}
            <tr>
                <td>{{ field.id }}</td>
                <td>{{ field.label }}</td>
                <td>{{ field.description }}</td>
                <td>{{ field.labelEn }}</td>
                <td>{{ field.descriptionEn }}</td>
                <td>
                    <a href="{{ path('field_show', {'id': field.id}) }}">show</a>
                    <a href="{{ path('field_edit', {'id': field.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
            <tr>
                
            </tr>
        </tbody>
    </table>

    <a href="{{ path('field_new') }}">Create new</a>
{% endblock %}
