{% extends 'base.html.twig' %}

{% block title %}Field{% endblock %}

{% block body %}
    <h1>Field</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ field.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ field.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ field.description }}</td>
            </tr>
            <tr>
                <th>LabelEn</th>
                <td>{{ field.labelEn }}</td>
            </tr>
            <tr>
                <th>DescriptionEn</th>
                <td>{{ field.descriptionEn }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('field_index') }}">back to list</a>

    <a href="{{ path('field_edit', {'id': field.id}) }}">edit</a>

    {{ include('field/_delete_form.html.twig') }}
{% endblock %}
