{% extends 'base.html.twig' %}

{% block title %}Edit Person{% endblock %}

{% block body %}
    <h1>Edit Person</h1>
	<h3>{{ person.fullname }}</h3>
	
    {{ include('person/_form.html.twig', {'button_label': 'Save'}) }}

    <a href="{{ path('person_index') }}">back to list</a>

{% endblock %}
