{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
    <h1>Person index</h1>

    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Email</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.lastname }}</td>
                <td>{{ person.firstname }}</td>
                <td><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
                <td>
                    {% if 'ROLE_ADMIN' in person.roles %}
                        <i class="fas fa-jedi danger"></i> admin
                    {% endif %}

                </td>  
                {#<td>
                    {% for project in person.projects %}
                        <a href="{{path('field_show',{'id':project.mainField.id})}}"><span class="badge badge-pill badge-success">{{project.mainField.labelEn}}</span></a>
                    {% endfor %}

                </td>
                #}        
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" href="{{ path('person_show', {'id': person.id}) }}" data-toggle="tooltip" title="See profile"><i class="fas fa-info-circle"></i></a>
                        <a class="btn btn-primary" href="{{ path('person_edit', {'id': person.id}) }}" data-toggle="tooltip" title="Edit profile"><i class="fas fa-user-edit"></i></a>
                        <a class="btn btn-secondary" href="{{ path('reset_user_password', {'id': person.id}) }}" data-toggle="tooltip" title="Reset password and send email"><i class="fas fa-key"></i></a>

                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('person_new') }}"><i class="fas fa-plus-circle"></i> Create new</a>
{% endblock %}
