{% extends 'base.html.twig' %}
{% block body %}
    <h1>Personnal Informations</h1>
   {% if not app.user.person %}
       Welcome here. To apply for a call, you need to fill these information :
    {% endif%}
    {{form_start(form)}}
    {{form_row(form.lastname, {'label':'Lastname',
                            'attr':{
                                'placeholder':'Same as written on you passport'
                                }
                            })}}
    {{form_row(form.firstname, {'label':'Firstname',
                            'attr':{
                                'placeholder':'Same as written on you passport'
                                }
                            })}}
    {{form_row(form.usualLastname, {'label':'Usual lastname',
                            'attr':{
                                'placeholder':'If different only'
                                }
                            })}}
    {{form_row(form.usualFirstname, {'label':'Usual firstname',
                            'attr':{
                                'placeholder':'If different only'
                                }
                            })}}
    {{form_row(form.gender, {'label':'Gender',
                            'attr':{
                                'placeholder':'1 or 2'
                                }
                            })}}
    {{form_row(form.dateOfBirth, {'label':'Date of birth',
                            'attr':{
                                'placeholder':'MM/DD/YYYY format'
                                }
                            })}}
    {{form_row(form.placeOfBirth, {'label':'Place of birth',
                            'attr':{
                                'placeholder':'City / Country'
                                }
                            })}}

                            
    <button type="submit" class="btn btn-success"><i class="fas fa-check"></i></button>
    {{form_end(form)}}
{% endblock %}