{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
    <h1>Person</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ person.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ person.firstname }}</td>
            </tr>
            <tr>
                <th>UsualLastname</th>
                <td>{{ person.usualLastname }}</td>
            </tr>
            <tr>
                <th>UsualFirstname</th>
                <td>{{ person.usualFirstname }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ person.gender }}</td>
            </tr>
            <tr>
                <th>DateOfBirth</th>
                <td>{{ person.dateOfBirth ? person.dateOfBirth|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PlaceOfBirth</th>
                <td>{{ person.placeOfBirth }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ person.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ person.password }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ person.createdAt ? person.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>VerifiedEmailAt</th>
                <td>{{ person.verifiedEmailAt ? person.verifiedEmailAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('person_index') }}">back to list</a>

    <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a>

    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
