Hi admission! <br>

<p>We received an application from <strong>{{ application.person.fullname }}</strong> for call <strong>{{application.call.labelEn}}</strong><br>
<p>This application has been submitted at {% if application.submittedAt %}{{ application.submittedAt|date("d/m/Y \\a\\t H:i:s", "Europe/Paris")}}{% endif %}</p>
<p><a href={{ url('download_ApplicationZip', {'id': application.id})}}>Click here download application files</a></p>
<br>

<p>Thanks!</p>

Note: that email has been automatically send to you by IAS-Application
{# Makes an absolute URL to the /images/logo.png file #}
