<p>Ceci est une réponse automatique, merci de ne pas répondre.</p>
<p>Nous accusons bonne réception de votre dossier de candidature et reviendrons vers vous pour de plus amples informations, si besoin, à partir du 2 mai. Les dossiers de candidatures seront expertisés dans les prochains mois et le conseil scientifique se tiendra vers la mi-novembre. Tous les candidats seront informés de la décision finale courant décembre.</p>
<p>Bien à vous,</p>
<p>L'équipe d’admission</p>
<hr>
<i>
<p>This is an auto-reply, please do not answer.</p>
<p>We hereby acknowledge good receipt of your application and will come back to you for more information, if needed, from 2nd May. All applications will be assessed by experts from about May to October. The Advisory Board will meet towards mid-November and all applicants will be informed of the results in December.</p>
<p>Kind regards,</p>
<p>The admission team</p></i>
