{# templates/emails/registration_notification.html.twig #}
<p>Dear {{ person.fullname }}</p>

<p>We currently received a demand from your email address:</p>
<hr/>
<p>{{ person.information }}</p>
<hr/>
<p>We are currently processing this information. We will answer your demand shortly.</p>

<p>Regards.<p>
