{# templates/emails/registration_notification.html.twig #}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p>Hi Admin! </p>

    <p>We received a demand from <strong>{{ person.fullname }}</strong> at {{ person.email }}:</p>
    <hr/>
    <p><i>{{ person.information }}</i></p>
	<hr/>
	
    <p>Regards.</p>

	<p>Note: that email has been automatically send to you by IAS-Application</p>
    </body>
<html>