{# templates/emails/registration.html.twig #}
<h3>You did it! You registered!</h3>

Hi {{ person.fullname }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To login, go to: <a href="test">...</a>.

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="test">