{# templates/emails/registration.html.twig #}
<p>Dear {{ person.fullname }},</p>

<p>You requested to reset your password on the IAS-Nantes applications website. </p>

<p>To reset your password, go to: </p>
<strong><a href="{{ url('reset_password', {'id':person.id, 'token':person.resetPasswordToken})}}">{{ url('reset_password', {'id':person.id, 'token':person.resetPasswordToken})}}</a></strong>

<p>If you think this is an error, please ignore this message. </p>

<p>Thank you. </p>