{# templates/emails/registration_notification.html.twig #}
<p>Dear {{ person.fullname }}</p>

<p>We are sorry to inform you that we are unable to create your personal account with the information you provided.</p>
<p>If you still want to submit a project, please re sign-in with a more suitable project.</p>

<p>Thanks!<p>