{# templates/emails/registration_notification.html.twig #}
<p>Dear {{ person.fullname }}</p>

<p>We successfully received a sign-in request from your email address to register to our program.
We are currently processing the information to create your personnal account.</p>
<p>You will be notified shortly when you may be able to login.</p>

<p>Thanks!<p>
