{# templates/emails/registration_notification.html.twig #}
<p>Dear {{ person.fullname }}</p>

<p>Your personal account has been successfully created.</p>
<p>You can login on our server to finalize your application to our program.</p>

<p>Thanks</p>

{# Makes an absolute URL to the /images/logo.png file #}
{#<img src="{{absolute_url(asset('img/logo.png'))}}" alt="IEA_logo"/>#}