{# templates/emails/registration_notification.html.twig #}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p>Hi Admin! </p>

    <p>We received a login request from <strong>{{ person.fullname }}</strong> at {{ person.email }} address to register to our program.
    His/her projet is :</p>
    <hr>
    <p>
        <i>"{{ person.project }}"</i>
    </p>
    <hr>
    
    <p>Thanks!</p>

    {#<p><a href={{ path('asklogin_index')}}>Click here to review all pending sign-in</a></p>#}
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div>
        {#<!--[if mso]>
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ url('asklogin_accept', {'id': person.id})}}" style="height:36px;v-text-anchor:middle;width:150px;" arcsize="5%" strokecolor="#18BC9C" fillcolor="#18BC9C">
            <w:anchorlock/>
            <center style="color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:16px;">Accept this login &#10003;</center>
          </v:roundrect>
        <![endif]-->#}
        {#<a href="{{ url('asklogin_accept', {'id': person.id})}}" style="background-color:#18BC9C;border:1px solid #18BC9C;border-radius:3px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:16px;line-height:44px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;mso-hide:all;">Accept this login &#10003;</a>#}
      </div>
    </td>
    <td>
      <div>
        <!--[if mso]>
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="{{ url('asklogin_refuse', {'id': person.id})}}" style="height:36px;v-text-anchor:middle;width:150px;" arcsize="5%" strokecolor="#E74C3C" fillcolor="#E74C3C">
            <w:anchorlock/>
            <center style="color:#ffffff;font-family:Helvetica, Arial,sans-serif;font-size:16px;">Reject this login &#10007;</center>
          </v:roundrect>
        <![endif]-->
        <a href="{{ url('asklogin_refuse', {'id': person.id})}}" style="background-color:#E74C3C;border:1px solid #E74C3C;border-radius:3px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:16px;line-height:44px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;mso-hide:all;">Reject this login &#10007;</a>
      </div>
    </td>
  </tr>
</table>
<p>Note: that email has been automatically send to you by IAS-Application</p>
    
    </body>
<html>