<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>IAS Nantes - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" >
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        {# dateTimepicker#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        {# Select2 plugin #}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/app.css">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% set route = app.request.get('_route') %}
        {{ app.environment == 'dev' ? '<div class="row striped"><div class="col-lg-6 offset-lg-3">🚧 Dev environment 🚧</div></div>' }}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
            <img src="{{asset('/img/apply_logo.png')}}" alt="apply_logo"/>
            <a class="navbar-brand" href="{{ path('homepage') }}">IAS Applications</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ 'homepage' in route ? 'active' }}">
                  <a class="nav-link" href="{{ path('homepage') }}">Calls <span class="sr-only">(current)</span>
                  {% if is_granted('ROLE_ADMIN') %}
                    <span class="badge badge-info">public</span>
                  {% endif %}
                  </a>
                </li>
                {% if app.user %}
                <li class="nav-item {{ 'candidate_list' in route ? 'active' }}">
                  <a class="nav-link" href="{{ path('candidate_list') }}">Your applications <span class="sr-only">(current)</span>
                  {% if is_granted('ROLE_ADMIN') %}
                    <span class="badge badge-info">public</span>
                  {% endif %}
                  </a>
                </li>
                {% endif %}
                <li class="nav-item {{ 'faq' in route ? 'active' }}">
                  <a class="nav-link" href="{{ path('faq') }}">F.A.Q <span class="sr-only">(current)</span>
                  {% if is_granted('ROLE_ADMIN') %}
                    <span class="badge badge-info">public</span>
                  {% endif %}
                  </a>
                </li>
                <li class="nav-item {{ 'how_to_apply' in route ? 'active' }}">
                  <a class="nav-link" href="{{ path('how_to_apply') }}">How to apply? <span class="sr-only">(current)</span>
                  {% if is_granted('ROLE_ADMIN') %}
                    <span class="badge badge-info">public</span>
                  {% endif %}
                  </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item {{ 'call' in route ? 'active' }}">
                        <a class="nav-link" href="{{ path('call_index') }}">Manage calls <span class="sr-only">(current)</span>
                            <span class="badge badge-warning">admin</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item {{ 'asklogin' in route ? 'active' }}">
                        <a class="nav-link" href="{{ path('asklogin_index') }}">Login requests <span class="sr-only">(current)</span>
                            {#{% if ask_login.pending != 0 %}
                                <span class="badge badge-pill badge-danger">{{ ask_login.pending }}</span>
                            {% endif %}#}
                            <span class="badge badge-warning">admin</span>
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item {{ 'person' in route ? 'active' }}">
                        <a class="nav-link" href="{{ path('person_index') }}">Persons <span class="sr-only">(current)</span>
                            <span class="badge badge-warning">admin</span>
                        </a>
                    </li>
                {% endif %}

              </ul>
              <ul class="nav navbar-nav navbar-right">

                {% if not app.user %}
                    <li class="nav-item">
                        <a href="{{path('security_registration')}}" class="nav-link">
                            <i class="fas fa-user"></i> Sign Up
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{path('security_login')}}" class="nav-link"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                {% else %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" class="nav-link">
                            <i class="fas fa-user"></i> {{ app.user.firstname }} {{ app.user.lastname }} <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{path('personal_information')}}"><i class="fas fa-cogs"></i> Edit personal information</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path('update_password')}}"><i class="fas fa-key"></i> Change password</a>
                        </div>
                    </li>
                       
                    <li class="nav-item">
                        <a href="{{path('security_logout')}}" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
          
          {% for label, messages in app.flashes %}
            <div class="container">
                <div class="row alert alert-dismissible alert-{{ label }} mt-3">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {% for message in messages %}
                        <p>{{ message|raw }}</p>
                    {% endfor %}
                </div>
            </div>
          {% endfor %}
        <div class="container mt-0" id="content">
        {% block body %}{% endblock %}
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-bottom" id="footer">
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ 'legal_notices' in route ? 'active' }}">
                        <a class="nav-link" href="{{ path('legal_notices') }}">Legal notices <span class="sr-only">(current)</span>
                        {% if is_granted('ROLE_ADMIN') %}
                            <span class="badge badge-info">public</span>
                        {% endif %}
                        </a>
                    </li>
                    <li class="nav-item {{ 'contact' in route ? 'active' }}">
                        <a class="nav-link" href="{{ path('contact') }}">Contact <span class="sr-only">(current)</span>
                        {% if is_granted('ROLE_ADMIN') %}
                            <span class="badge badge-info">public</span>
                        {% endif %}
                        </a>
                    </li>   
                </ul>
            </div>
        </nav>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        {# Bootstrap #}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {# Select2 plugin #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        {# datepicker #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
        {# datatable #}
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip(); 
                $('.select2').select2();
                $('.datepicker').datepicker({
                    format: 'yyyy-mm-dd'
                });
                $('#datatable').DataTable({
                    "order": [[ 0, "desc" ]]
                });
                $('.custom-file-input').on('change', function() { 
                    let fileName = $(this).val().split('\\').pop(); 
                    $(this).next('.custom-file-label').addClass("selected").html(fileName); 
                });
            });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
