<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <link rel="stylesheet" href="/css/pdfForm.css">
        <style>
            th{
                background-color: lightgray;
            }
            table, td, th {
                border: 1px solid black;
                border-collapse: collapse;
                width:100%;
                
            }
            th{
                width:2%;
                font-size: 14px;
            }
            td{
                  text-align: justify;
                    text-justify: inter-word;
            }
            h4{
                text-align: center;
            }
            {# TODO : Make <table> inside <td> ignore padding (For languages and requested period of stay) #}
        </style>
    </head>
    <body>
        Document generated on {{ date()|date("d/m/Y \\a\\t H:i", "Europe/Paris") }}
        Conseil scientifique du {{ application.call.scientificCouncil.date|date('d/m/Y')}}   
        {# TODO : Make logo display work #}
        {# <img src="{{asset('/img/logo.jpg')}}" alt="logo"/>#}  
        {# TODO : Find a way to use multiple formType instead of hard code Label / content #}
        {# Personal information #}
        <h3>1 - Personal record</h3>
        {% set person = application.project.person %}
        <table id="personalRecord">
            <tr class="row">
                <th class="col-md-2 header">
                    Lastname
                </th>
                <td class="col-md-10 content">
                    {{ person.lastname|nl2br }}
                </td>
            </tr>
            <tr>
                <th>
                    Firstname
                </th>
                <td>
                    {{ person.firstname|nl2br }}
                </td>
            </tr>
            <tr>
                <th>
                    Common lastname
                </th>
                <td>
                    {{ person.usualLastname|nl2br }}
                </td>
            </tr>
            <tr>
                <th>
                    Common firstname
                </th>
                <td>
                    {{ person.usualFirstname|nl2br }}
                </td>
            </tr>
            <tr>
                <th>
                    Gender
                </th>
                <td>
                    {{ person.genderLabel }}
                </td>
            </tr>
            <tr>
                <th>
                    Date of birth
                </th>
                <td>
                {% if person.dateOfBirth is not null %}
                    {{ person.dateOfBirth|date('F jS Y \\(d/m/Y\\)')}} [{{ date().diff(person.dateOfBirth)|date("%Y years old") }}]
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    Place of birth
                </th>
                <td>
                    {{ person.placeOfBirth|nl2br }}
                </td>
            </tr>
            <tr>
                <th>
                    Nationalities
                </th>
                <td>
                    <ul>
                    {% for nationality in person.nationalities %}
                        <li>{{nationality.labelEn}}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>
                    Email
                </th>
                <td>
                    <a href="mailto:{{person.email}}">{{person.email}}</a>
                </td>
            </tr>
            <tr>
                <th>
                    Phone number
                </th>
                <td>
                    {{person.phoneNumber}}
                </td>
            </tr>
            <tr>
                <th>
                    Mailing address
                </th>
                <td>
                {% if person.postalAddress is not null %}
                    {{person.postalAddress.label|nl2br}}</br>
                    {{person.postalAddress.Country.labelEn}}</br>
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    Personal webpage/website
                </th>
                <td>
                    {{person.webpage}}
                </td>
            </tr>
            <tr>
                <th>
                    PhD Year / university
                </th>
                <td>
                    {{person.phDYear}} / {{person.phDUniversity}}
                </td>
            </tr>
            <tr>
                <th>
                    Languages
                </th>
                <td>
                    {% set level = {"B": "Beginner", "I": "Intermediate", "A": "Advanced or Mother tongue"} %}
                     <table>
                        <tr>
                            <th>French level</th>
                            <th>English level</th>
                        </tr>
                        <tr>
                            <td>
                                {% if level[person.frenchLevel] is defined %}
                                    {{level[person.frenchLevel]}}
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                            <td>
                                {% if level[person.englishLevel] is defined %}
                                    {{level[person.englishLevel]}}
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        {# Project information #}
        <h3>2 - Project</h3>
        {% set project = application.project %}
        <table id="project">
            <tr>
                <th>
                    Title of research project
                </th>
                <td>
                    <h4>{{project.title|nl2br}}</h4>
                </td>
            </tr>
            <tr>
                <th>
                    Summary
                </th>
                <td>
                    {{project.summary|nl2br}}
                </td>
            </tr>
            <tr>
                <th>
                    Main subject
                </th>
                <td>
                    {{project.mainSubjects|nl2br}}
                </td>
            </tr>
            <tr>
                <th>
                    Previous publications
                </th>
                <td>
                    {{project.previousPublicationsEnlightning|nl2br}}
                </td>
            </tr>
            <tr>
                <th>
                    Main field
                </th>
                <td>
                    {% if project.mainField is not null %}
                        {{project.mainField.labelEn}}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    Specialty
                </th>
                <td>
                    {{project.specialty|nl2br}}
                </td>
            </tr>
        </table>
        {# Motivation information #}
        <h3>3 - Motivations</h3>
        <table id="motivations">
            <tr>
                <th>
                    How have you heard about IAS-Nantes?
                </th>
                <td>
                    {{application.iasKnowledge|nl2br}}
                </td>
            </tr>
             <tr>
                <th>
                    Have you previously been a member of an IAS?
                </th>
                <td>
                    {{application.previousIasMember|nl2br}}
                </td>
            </tr>
             <tr>
                <th>
                    Do you have an ongoing application in another IAS?
                </th>
                <td>
                    {{application.ongoingApplication|nl2br}}
                </td>
            </tr>
             <tr>
                <th>
                    Have you previously been a member of an IAS?
                </th>
                <td>
                    {{application.previousIasMember|nl2br}}
                </td>
            </tr>
             <tr>
                <th>
                    Major publications (up to 3)
                </th>
                <td>
                    {{application.majorPuplications|nl2br}}
                </td>
            </tr>
             <tr>
                <th>
                    What motivates you to apply for a research fellowship at the IAS-Nantes?
                </th>
                <td>
                    {{application.motivations|nl2br}}
                </td>
            </tr>
             <tr>
                <th>
                    How do you think you might benefit from the exchanges with other Fellows?
                </th>
                <td>
                    {{application.benefits|nl2br}}
                </td>
            </tr>
             <tr>
                <th>
                    Biography
                </th>
                <td>
                    {{application.biography|nl2br}}
                </td>
            </tr>
        </table>
        {# Motivation information #}
        <h3>4 - Administrative</h3>
        <table id="administrative">
            
            <tr>
                <th>
                    Current employer
                </th>
                <td>
                    {{application.currentEmployer|nl2br}}
                </td>
            </tr>
            <tr>
                <th>
                    Current professional position and academic title(s)
                </th>
                <td>
                    {{application.positionTitle|nl2br}}
                </td>
            </tr>
            <tr>
                <th>
                    previous positions
                </th>
                <td>
                    {{application.previousPositions|nl2br}}
                </td>
            </tr>
             
            <tr>
                <th>
                    Periode required to stay
                </th>
                <td>
                    <table>
                        <tr>
                            <th></th>
                            <th>Choice 1</th>
                            <th>Choice 2</th>
                        </tr>
                        <tr>
                            <th>Number of months</th>
                            <td>{{application.choice1NumberMonths}}</td>
                            <td>{{application.choice2NumberMonths}}</td>
                        </tr>
                        <tr>
                            <th>From</th>
                            <td>{{application.choice1StartMonth|date('F') }}</td>
                            <td>{{application.choice2StartMonth|date('F')}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
           <tr>
                <th>
                    Financial support
                </th>
                <td>
                    {{application.financialSupport|nl2br}}
                </td>
            </tr>
           <tr>
                <th>
                    Usual monthy salary
                </th>
                <td>
                    {{application.usualSalary|nl2br}}
                </td>
            </tr>
           <tr>
                <th>
                    Would you come alone / with your parter / with one or more children?
                </th>
                <td>
                    {{application.accompanying|nl2br}}
                </td>
            </tr>
            <tr>
                <th>
                    Can stay in Nantes during 90% of the fellowship
                </th>
                <td>
                    {{ application.resideInNantes ? 'Yes' : '-' }}
                       
                </td>
            </tr>
        </table>
        <script type="text/php">
            if ( isset($pdf) ) {
                $x = 270;
                $y = 815;
                $text = "{PAGE_NUM} of {PAGE_COUNT}";
                $font = $fontMetrics->get_font("DejaVu Sans");
                $size = 12;
                $color = array(0,0,0);
                $word_space = 0.0;  //  default
                $char_space = 0.0;  //  default
                $angle = 0.0;   //  default
                $pdf->page_text($x, $y, $text, $font, $size, $color, $word_space, $char_space, $angle);
            }
        </script>
    </body>
</html>