<form method="post" action="{{ path('scientific_council_delete', {'id': scientific_council.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scientific_council.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
