{% extends 'base.html.twig' %}

{% block title %}ScientificCouncil index{% endblock %}

{% block body %}
    <h1>Scientific Council list</h1>

    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Description</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scientific_council in scientific_councils|sort|reverse %}
            <tr>
                <td>{{ scientific_council.id }}</td>
                <td>{{ scientific_council.label }}</td>
                <td>{{ scientific_council.description[:70] }}</td>
                <td>{{ scientific_council.date ? scientific_council.date|date('Y-m-d') : '' }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-success" href="{{ path('scientific_council_show', {'id': scientific_council.id}) }}" data-toggle="tooltip" title="See scientific council"><i class="fas fa-info-circle"></i></a>
                        <a class="btn btn-warning" href="{{ path('scientific_council_edit', {'id': scientific_council.id}) }}" data-toggle="tooltip" title="Edit scientific council"><i class="fas fa-edit"></i></a>
                    </div>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('scientific_council_new') }}"><i class="fas fa-plus-circle"></i> Create new</a>
{% endblock %}
