{% extends 'base.html.twig' %}

{% block title %}New ScientificCouncil{% endblock %}
{% form_theme form _self %}
{% block body %}
    <h1>Create new ScientificCouncil</h1>

    {{ include('scientific_council/_form.html.twig') }}

    <a href="{{ path('scientific_council_index') }}">back to list</a>
{% endblock %}

{% block _scientific_council_calls_widget %}
    Add some calls :
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter" value="0">
    <div class="form-group">
        <button type="button" class="btn btn-primary" id="add-call">Add a call</button>
    </div>
{% endblock %}  

{% block _scientific_council_calls_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _scientific_council_calls_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-11">
                <div class="row mt-2">
                    <div class="col">
                        {{ form_widget(form.labelFr) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.labelEn) }}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        {{ form_widget(form.descriptionFr) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.descriptionEn) }}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        {{ form_widget(form.openingDate) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.closingDate) }}
                    </div>
                </div>
            </div>
            <div class="col-1">
                <div class="row mt-2">
                    <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#add-call').click(function(){
            const index = +$('#widgets-counter').val();
            const tmpl = $('#scientific_council_calls').data('prototype').replace(/__name__/g, index);
            
            $('#scientific_council_calls').append(tmpl);
            $('#widgets-counter').val(index + 1)
            //Delete button
            handleDeleteButton();
            //Datepicker
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        })
        function handleDeleteButton(){
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            })
        }
    handleDeleteButton();
    </script>

{% endblock %}