{% extends 'base.html.twig' %}

{% block title %}ScientificCouncil{% endblock %}

{% block body %}
    <h1>{{ scientific_council.label }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scientific_council.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ scientific_council.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ scientific_council.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ scientific_council.date ? scientific_council.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-warning" href="{{ path('scientific_council_edit', {'id': scientific_council.id}) }}" data-toggle="tooltip" title="Edit this Scientific council"><i class="fas fa-edit"></i></a>

    <h2>Calls</h2>
    
    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>Label Fr</th>
                <th>Opening Date</th>
                <th>Closing Date</th>
                <th>Scientific council</th>
                <th>Status</th>
                <th>number of candidates</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for call in scientific_council.calls %}
            <tr>
                <td>{{ call.labelFr }}</td>
                <td>{{ call.openingDate ? call.openingDate|date('Y-m-d') : '' }}</td>
                <td>{{ call.closingDate ? call.closingDate|date('Y-m-d') : '' }}</td>
                <td><a href="{{path('scientific_council_show', {'id': call.scientificCouncil.id})}}">{{ call.scientificCouncil.label}}</a></td>
                {% if call.isOpen %}
                    <td><span class="badge badge-pill badge-success">Ongoing</span></td>
                {% else %}
                    <td><span class="badge badge-pill badge-dark">Closed</span></td>
                {% endif %}
                <td>
                    <a href="{{ path('call_show', {'id': call.id}) }}" class="h4" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="See application forms"><span class="badge badge-pill badge-primary" >{{ call.applicationForms|length }}</span></a>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-success" href="{{ path('call_show', {'id': call.id}) }}" data-toggle="tooltip" title="See call"><i class="fas fa-info-circle"></i></a>
                        <a class="btn btn-warning" href="{{ path('call_edit', {'id': call.id}) }}" data-toggle="tooltip" title="Edit call"><i class="fas fa-edit"></i></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-outline-primary" href="{{ path('scientific_council_index') }}"><i class="fas fa-list-ul"></i> back to list</a>

{% endblock %}
