<form method="post" action="{{ path('call_delete', {'id': call.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ call.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
