{% extends 'base.html.twig' %}

{% block title %}Scientific Advisory Board{% endblock %}

{% block body %}
    <h1>Scientific Advisory Board</h1>
    <a href="{{ path('call_index') }}">back to list</a>

    {{ include('call/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('call/_delete_form.html.twig') }}
{% endblock %}
