{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
    
    <div class="jumbotron mt-1">
        <h1 class="display-3 upside-down">Welcome</h1>
        <p class="lead">Here, you can apply to calls for the Institute for Advanced Study of Nantes.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://www.iea-nantes.fr" role="button">Learn more about the Institute</a>
        </p>
    </div>
    {% if calls|length<1 %}
        <h2>Currently no ongoing call</h2>
    {% else %}
        <h2>See {{ calls|length }} ongoing calls :</h2>
    {% endif %}
    <div class="row">
    {% for call in calls %}
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-1">
            <div class="card">
                {#<img class="card-img-top" src="..." alt="Card image cap">#}
                <div class="card-body">
                    <h5 class="card-title">{{ call.labelEn }}</h5>
                    <p class="card-text">{{call.descriptionEn|default('no description yet')[:160]}}{{ call.descriptionEn|length > 160 ? '...' : '' }}</p>
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-primary" href="{{ path('createApplication', {'id': call.id})}}" ><i class="fas fa-plus-circle"></i> Create an application</a>
                        {% elseif call.isCandidate(app.user) %}
                            <a href="{{ path('application_review',{'id': call.isCandidate(app.user).id})}}" class="btn btn-success">See my application form</a>
                        {% else %}
                            <a href="{{path('initializeApplication', {'id':call.id})}}" class="btn btn-primary">Apply</a>
                        {% endif %}
                    {% else %}
                        <a href="{{path('initializeApplication', {'id':call.id})}}" class="btn btn-primary">Apply</a>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <small class="text-muted">closing date : {{ call.closingDate|date('d F Y') }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <hr>
    {% if upcomingCalls|length<1 %}
        <h2>Currently no upcoming call</h2>
    {% else %}
        <h2>See {{ upcomingCalls|length }} upcoming calls :</h2>
    {% endif %}
    <div class="row">
    {% for call in upcomingCalls %}
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-1">
            <div class="card">
                {#<img class="card-img-top" src="..." alt="Card image cap">#}
                <div class="card-body">
                    <h5 class="card-title">{{ call.labelEn }}</h5>
                    <p class="card-text">{{ call.descriptionEn|default('no description yet') }}</p>
                    <span data-toggle="tooltip" data-placement="bottom" title="You cannot apply for this call now">
                        <a href="" class="btn btn-primary disabled" >Apply</a>
                    </span>
                </div>
                <div class="card-footer">
                    <small class="text-muted">opening date : {{ call.openingDate|date('d F Y') }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>

{% endblock %}