{% extends 'base.html.twig' %}

{% block title %}Scientific Advisory Board{% endblock %}

{% block body %}
    <h1>Scientific Advisory Board</h1>

    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Label Fr</th>
                <th>Opening Date</th>
                <th>Closing Date</th>
                <th>Scientific council</th>
                <th>Status</th>
                <th>number of candidates</th>
                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for call in calls %}
            <tr>
                <td>{{ call.id }}</td>
                <td>{{ call.labelFr }}</td>
                <td>{{ call.openingDate ? call.openingDate|date('Y-m-d') : '' }}</td>
                <td>{{ call.closingDate ? call.closingDate|date('Y-m-d') : '' }}</td>
                <td><a href="{{path('scientific_council_show', {'id': call.scientificCouncil.id})}}">{{ call.scientificCouncil.label}}</a></td>
                {% if call.isOpen %}
                    <td><span class="badge badge-pill badge-success">Ongoing</span></td>
                {% else %}
                    <td><span class="badge badge-pill badge-dark">Closed</span></td>
                {% endif %}
                <td>
                    <a href="{{ path('call_show', {'id': call.id}) }}" class="h4" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="See unsubmitted application forms"><span class="badge badge-pill badge-warning" >{{ call.unSubmittedApplications|length }}</span></a>
                    <a href="{{ path('call_show', {'id': call.id}) }}" class="h4" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="See submitted application forms"><span class="badge badge-pill badge-success" >{{ call.submittedApplications|length }}</span></a>
                </td>
                <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-primary" href="{{ path('call_show', {'id': call.id}) }}" data-toggle="tooltip" title="See call"><i class="fas fa-info-circle"></i></a>
                    <a class="btn btn-warning" href="{{ path('call_edit', {'id': call.id}) }}" data-toggle="tooltip" title="Edit call"><i class="fas fa-edit"></i></a>
                </div>
    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('call_new') }}">Create new</a>
{% endblock %}
