{% extends 'base.html.twig' %}

{% block title %}Scientific Advisory Board - new call{% endblock %}

{% block body %}
    <h1>Scientific Advisory Board - New call</h1>

    {{ include('call/_form.html.twig') }}

    <a href="{{ path('call_index') }}">back to list</a>
{% endblock %}
