{% extends 'base.html.twig' %}

{% block title %}Call{% endblock %}

{% block body %}
    <h1>Call information</h1>
    <div class="row">
        <div class="col">
            <h4>ID : </h4>
            {{ call.id }}
        </div>
        <div class="col">
            <h4>Scientific council : </h4>
            <a href="{{path('scientific_council_show', {'id': call.scientificCouncil.id})}}">{{ call.scientificCouncil.label}}</a>
        </div>
    </div>
     <div class="row">
        <div class="col">
            <h4>Label Fr : </h4>
            {{ call.labelFr }}
        </div>
        <div class="col">
            <h4>Label En : </h4>
            {{ call.labelEn }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Description Fr : </h4>
            {{ call.descriptionFr }}
        </div>
        <div class="col">
            <h4>Description En : </h4>
            {{ call.descriptionEn }}
        </div>
    </div>
    <a class="btn btn-warning" href="{{ path('call_edit', {'id': call.id}) }}" data-toggle="tooltip" title="Edit this call"><i class="fas fa-edit"></i></a>
    <h2>Application forms</h2>
    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Project title</th>
                <th>Field</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for applicationForm in call.submittedApplications %}
                <tr>
                    <td><a href="{{ path('person_show', {'id' :applicationForm.project.person.id})}}">{{applicationForm.project.person.fullname}}</a></td>
                    <td>{{applicationForm.project.title}}</td>
                    <td><a href="{{path('field_show',{'id':applicationForm.project.mainField.id})}}"><span class="badge badge-pill badge-success">{{applicationForm.project.mainField.labelEn}}</span></a></td>
                    <td><span class="badge badge-pill badge-warning">{{applicationForm.privateStatus}}</span></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary" href="{{path('application_review', {'id':applicationForm.id})}}" data-toggle="tooltip" title="See application"><i class="fas fa-info-circle"></i></a>
                            <a class="btn btn-outline-primary" href="{{ path('download_ApplicationZip', {'id': applicationForm.id}) }}" data-toggle="tooltip" title="Download Zip"><i class="fas fa-file-archive"></i></a>
                            
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="{{ path('send_admission_notification', {'id': applicationForm.id}) }}" data-toggle="tooltip" title="Re send admission notification"><i class="fas fa-envelope"></i> to admission</a>
                                    <a class="dropdown-item" href="{{ path('send_candidate_notification', {'id': applicationForm.id}) }}" data-toggle="tooltip" title="Re send candidate notification"><i class="fas fa-envelope"></i> to candidate</a>
                                    <a class="dropdown-item" href="{{ path('application_generatePdf', {'id': applicationForm.id}) }}" data-toggle="tooltip" title="Regenerate PDF application form"><i class="fas fa-redo-alt"></i> Regenerate PDF</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Unsubmitted application forms</h2>
    <table class="table" id="datatable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Project title</th>
                <th>Field</th>
                <th>Status</th>
                <th>Actions</th>
                <th>Files</th>
            </tr>
        </thead>
        <tbody>
            {% for applicationForm in call.unsubmittedApplications %}
            {% set missing = 'Still missing : '~ applicationForm.checkValidity|join(', ') %}
                <tr>
                    <td><a href="{{ path('person_show', {'id' :applicationForm.project.person.id})}}">{{applicationForm.project.person.fullname}}</a></td>
                    <td>{{applicationForm.project.title}}</td>
                    <td><a href="{{path('field_show',{'id':applicationForm.project.mainField.id})}}"><span class="badge badge-pill badge-success">{{applicationForm.project.mainField.labelEn}}</span></a></td>
                    <td><span class="badge badge-pill badge-warning" data-toggle="tooltip" data-placement="right" title="{{missing}}">{{applicationForm.privateStatus}}</span></td>
                    <td><a href="{{path('application_review', {'id':applicationForm.id})}}">See application form</a></td>
                    <td><a href="{{path('download_ApplicationZip', {'id':applicationForm.id})}}"><i class="fas fa-file-archive"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-outline-primary" href="{{ path('call_index') }}"><i class="fas fa-list-ul"></i> back to list</a>
    <a class="btn btn-primary" href="{{ path('createApplication', {'id': call.id})}}" ><i class="fas fa-plus-circle"></i> Create an application</a>

    

{% endblock %}
