{% extends 'base.html.twig' %}
{% block title %}Page not found{% endblock %}
{% block body %}
    <h1>Access denied</h1>
    You are not granted to access this page. 
    <div class="col-12">
        <i class="fas fa-ban big-icon"></i>
    </div> 
    <a href="{{path('homepage')}}" class="btn btn-success">Back to homepage</a>
{% endblock %}