{% extends 'base.html.twig' %}
{% block title %}Page not found{% endblock %}
{% block body %}
    <h1>An error has occured</h1>
    Please try again later. 

    <div class="col-12">
        <i class="fas fa-exclamation-triangle big-icon"></i>
    </div>

    <a href="{{path('homepage')}}" class="btn btn-success">Back to homepage</a>
{% endblock %}
