{% extends 'base.html.twig' %}
{% block title %}Page not found{% endblock %}
{% block body %}
    <h1>Page not found (404)</h1>
    The page you requested does not exist. 

    <div class="col-12">
        <i class="far fa-compass big-icon"></i>
    </div>

    <a href="{{path('homepage')}}" class="btn btn-success">Back to homepage</a>
{% endblock %}